<p id="notice"><%= notice %></p>

<p>
  <b>Media:</b>
  <%= @comment.media_id %>
</p>

<p>
  <b>Comments:</b>
  <%= @comment.comments %>
</p>

<p>
  <b>From:</b>
  <%= @comment.from %>
</p>

<p>
  <b>Email:</b>
  <%= @comment.email %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
