<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :premium %>
  <%= f.hidden_field :price %>

  <div class="field">
    <%= f.text_field :email, :class =>"waitList", :value => "Email", :onclick=>"javascript:clear_label(this, 'Email')", :onblur=>"javascript:restore_label(this, 'Email')"%>
  </div>
<% end %>
