<div class="body">
	<div class="main">
    	<div class="top">
        	<ul class="nav">
            	<li><%= link_to "home", root_path %></li>
            	<li><a href="#">about us</a></li>
            	<li class="minilogo"><a href="#"><%= image_tag("logo_fb.png", :size=>"20x20", :title=>"Friend us on Facebook.")%></a></li>
            	<li class="minilogo"><a href="#"><%= image_tag("logo_tw.png", :size=>"20x20", :title=>"Follow us on Twitter.")%></a></li>
            </ul>
            <h1 class="title" >Create your professional image with a folioConnect page. </h3>
        </div>
        <div class="left">
        	<div class="intro">
        		<img src="/images/zerotopublish.png" height="18" width="305" alt="Zero to publish in 5 minutes or less." />
                <p>Today’s hiring managers expect professional sites with targeted work samples. Create a <strong>folioConnect page</strong> for fast and flexible web presence management. &nbsp; <a href="#">Learn More &raquo;</a></p>
        	</div>
            <div class="mascot">
            	<img src="/images/mascot.png" height="145" width="324" />
                <%= link_to image_tag("getstartednow.png", :size => "184x38", :alt =>"Get started now.", :title =>"Get started now."), new_user_path %>
                
            </div>
        </div>
        <div class="flashdemo">
        <%= image_tag("sela_endproduct2.png")%>
        
        
        	<!-- Insert Flash demo here -->
        
        
        
        </div>
       <br clear="all" />
    </div>
</div>