<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @tag.user_id %>
</p>

<p>
  <b>Tag name:</b>
  <%= @tag.tag_name %>
</p>

<p>
  <b>Tag type:</b>
  <%= @tag.tag_type %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
