<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @view.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @view.name %>
</p>

<p>
  <b>Private:</b>
  <%= @view.private %>
</p>


<%= link_to 'Edit', edit_view_path(@view) %> |
<%= link_to 'Back', views_path %>
