<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>folioConnect</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.min.js"%>
  <%= csrf_meta_tag %>
  <script>
  
    $(document).ready( function () { $(':password').hide(); });
    
    function clear_label (obj, default_val) {
      if ($(obj).val() == default_val) {
        $(obj).val("");
      }
    }
    
    function restore_label (obj, default_val) {
      if ($(obj).val() == "") {
        $(obj).val(default_val);
      }
    }
    
    function switch_pass (obj) {
      if ($(obj).attr('type') == 'text') {
        $(obj).hide();
        $(':password').addClass('pass')
        $(':password').show();
        $(':password').focus();
      } else if ($(obj).val() == "") {
        $(':password').hide();
        $(':password').removeClass('pass')
        $('.pass').show();
      }
    }
     
  </script>
</head>
<body>
  <div class="header">
       <div class="signin">
      <% form_for User.new, :url => { :controller => 'welcome', :action => "login" } do |u| %>
         <%= u.text_field :email, :class =>'email', :value=>'Email', :onclick=>"javascript:clear_label(this, 'Email');", :onblur => "javascript:restore_label(this, 'Email')" %>
         <%= u.text_field :password, :class =>'pass', :value=>'Password', :onclick => "javascript:switch_pass(this);"%>
         <%= u.password_field :password, :onblur => "javascript:switch_pass(this);"%>
        	<input class="submit" name="commit" type="image" src="/images/signin.png" />
      <% end %>
       </div>
  	<%= link_to image_tag("folioconnect.gif"), root_path, :class => 'logo' %>
  </div>

<%= yield %>

<div class="footer">
	<div class="footerRight">&copy; 2010 folioconnect.com</div>
	<div class="footerLeft"><a href="#">About Us</a> | <a href="#">Privacy Policy</a></div>
	<div class="footerCenter"><a href="#">Follow us on Facebook</a> | <a href="#">Twitter</a></div>
</div>
</body>
</html>
